html,
body {
  height: 100%;
}

/* utility class */
.md-show {
  display: none;
}

.appbar {
  max-width: 1012px;
  height: 56px;
  padding: 0 1rem;
  margin: 0 auto;
}
.navbar {
  height: 56px;
  background: #f2f2f2;
  border-bottom: 1px solid #c8c8c8;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12);
  position: relative;
}

#appName {
  margin: 0;
  font-weight: 700;
}

#backToDocs {
  font-size: 24px;
}

#docTitle {
  font-weight: 700;
  text-align: center;
}

#appContainer {
  height: calc(100% - 56px);
}

#documents {
  padding: 1rem;
}

.editor {
  width: 100%;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  font-family: "Input Mono", "SF Mono", Consolas, monospace;
  font-size: 16px;
  background: #222;
  color:#c8c8c8;
  height: 100%;
  width: 100%;
  padding-top: 0;
  padding-right: 1rem;
  padding-bottom: 0;
  padding-left: 1rem;
  border-radius: 0;
}

.preview-container {
  background: #ffffff;
  height: 100%;
  color: #222222;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.toolbar {
  height: 56px;
  background: #1f1f1f;
}

.toolbar-icon {
  height: 56px;
  width: 56px;
}

.toolbar-icon > span {
  font-size: 20px;
  color: #3578e5;
}


@media (min-width: 40em) {
  
}

@media (min-width: 52em) {
  .md-show {
    display: block;
  }

  .appbar {
    height: 64px;
  }

  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 64px;
  }

  #backToDocs {
    font-size: 32px;
  }

  #docTitle {
    text-align: left;
  }

  .preview-icon {
    display: none;
  }

  #appContainer {
    height: calc(100% - 64px);
  }

  textarea {
    width: 50%;
  }
  
  .preview-container {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 50%;
  }
  
  .toolbar {
    display: none;
  }
}

@media (min-width: 64em) {

}